.container{
  width:1000px;
}
.row{
  overflow:hidden;
  display:block;
  margin:50px 20px;
  width:100%;
}
.row:before{
  display: table;
    content: " ";
}
.row:after{
  display: table;
    content: " ";
    clear:both;
}
.col-33{
  display:block;
      width: 33%;
      float: left;
}
.col-33 p{
	padding:0 15px;
}
